    <div class="mt-10">
        <div class="row1 row" style="border: dotted red">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <span class="sty" style="font-size:30px;">Railway Reservation System</span>
            </div>
            <div class="col-lg-3"></div>   
            <div class="col-lg-3">
                <span class="sty" style="font-size:30px;">Welcome {{request.user}}</span>
            </div>   
            {% if user.is_authenticated %}
            <div class="col-lg-2"><a href="/logout" style="font-size:30px;"><button class="btn btn-danger">Log Out</button> </a></div>
            {% else %}
            <div class="col-lg-1"><a href="register" style="font-size:30px;"><button class="btn btn-danger">Register</button> </a></div>
            <div class="col-lg-1"><a href="login" style="font-size:30px;"><button class="btn btn-danger">Login</button> </a></div>
            {% endif %}
        </div>
        <div class="row" style="margin-top:0px; opacity: 80%; background-color: blue;">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                {% if request.user.is_superuser %}
                <a href="addT"><button class="btn btn-basic">Add Trains</button></a>
                <a href="addST"><button class="btn btn-primary">Add Stations</button></a>
                <a href="addR"><button class="btn btn-warning">Add Route</button></a>
                <a href="addRT"><button class="btn btn-default">Add Route Station</button></a>
                {% endif %}
                <a href="search"><button class="btn btn-success">Search/Book Trains</button></a>
                <a href="schedule"><button class="btn btn-info">Check Schedule</button></a>
                <a href="pnr"><button class="btn btn-warning">Check PNR</button></a>
                <a href="cancel"><button class="btn btn-danger">Cancel Seat</button></a>
                </div>
            <div class=""></div>
        </div>
    </div>