    {% extends 'home/base.html' %}
    {% block body %}

    <h1 style="text-align:center;font-family:sans-seriff;">Register</h1>
    {%if form.errors%}

    <h3>{{form.errors}}</h3>

    {%else%}
    <form class="rform" action="" method="POST">
        {% csrf_token %}
        <span class="white">Username:</span><br/><input type="text" name="username"><br/><br/>
        <span class="white">Password:</span><br/><input type="password" name="password"><br/><br/>

        <span class="white">Email:</span><br/><input type="email" name="email"><br/><br/>
        <span class="white">Phone Number:</span><br/><input type="text" name="number"><br/><br/>
        <input class="btn btn-success" type="submit" value="Register"><br/>
    </form>
    {%endif%}
    {% endblock %}